@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Fraunces:wght@500&family=Open+Sans:wght@500&family=Permanent+Marker&family=Poppins:wght@100;600;700&display=swap');

.grid{
    position: absolute;
    width: 600px;
    height: 300px;
    border: solid 1px black;
    margin-top: 80px;
}
.block{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
}
.user{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: purple;
}
.ball{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 10px;
}
.score{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    visibility: hidden;
    font-weight: 600;
}